topicgraph.txt
pedagogical-roles.txt
alt-dt.txt
infomap-flow.txt
infomap-tree.txt
cite.txt
alledge.tsv
entropy1.txt
entropy2.txt
ext/infomap
ext/mallet
ext/techknacq-core
data/elasticsearch/log
data/elasticsearch/data
