alledge.tsv
alt-dt.txt
alt-dt.txt.bz2
cite.txt
data/elasticsearch/data
data/elasticsearch/log
data/terms.txt
entropy1.txt
entropy2.txt
ext/infomap
ext/mallet
ext/techknacq-core
infomap-flow.txt
infomap-tree.txt
pedagogical-roles.txt
test/*.txt
topicgraph.txt
server.crt
server.key
tmp
.ide
*.pyc
lib/techknacq/__pycache__/*.pyc
lib/techknacq/__pycache__/conceptgraph.cpython-35.pyc
lib/techknacq/__pycache__/readinglist.cpython-35.pyc

